{% load i18n %}
{% load gui_utils %}
<table id="etable" class="table box table-striped table-hover table-responsive" data-nosort='0,-1,-2' data-sortnum='-3'>
  <thead>
    {% if backups %}
    <tr class="sortable" data-order_by="{{ order_by.0 }}">
      <th class="top chbox hidden-phone-small"></th>
      <th data-field="name">{% trans "Name" %}</th>
      <th data-field="hostname">{% trans "Hostname" %}</th>
      <th data-field="disk_id">{% trans "Disk&nbsp;ID" %}</th>
      <th class="hidden-phone">{% trans "Type" %}</th>
      <th data-field="created">{% trans "Created" %}</th>
      <th class="hidden-phone-small">{% trans "Status" %}</th>
      <th class="hidden-phone" data-field="time">{% trans "Duration" %}</th>
      <th class="hidden-phone" data-field="size">{% trans "Size" %}</th>
      <th class="hidden-phone">{% trans "Note" %}</th>
    </tr>
    {% endif %}
  </thead>
  <tbody id="vm_snaplist_">
    {% for bkp in backups %}{% with disk_id=bkp.array_disk_id bkp_id=bkp.bkpid disk_size=bkp.disk_size %}
    <tr data-disk_id="{{ disk_id }}" data-disk_size="{{ disk_size }}" data-snapname="{{ bkp.name }}" data-status="{{ bkp.status }}" data-hostname="{{ bkp.vm_hostname }}" data-type="{{ bkp.type }}">
      <td class="top chbox hidden-phone-small"></td>
      <td>
        <a href="{{ node_vm_backup_url }}&hostname={% if bkp.vm %}{{ bkp.vm.hostname }}{% else %}novm{% endif %}&last_bkpid={{ bkp.bkpid }}" class="btn-link" data-backup="true" title="{% trans "Edit backups for this server" %}" data-toggle="tooltip" data-placement="bottom">{{ bkp.name }}</a>
      </td>
      <td><span class="vm_hostname">{{ bkp.vm_hostname }}<br><i class="icon-cloud"></i> {{ bkp.dc.alias }}</span></td>
      <td>{{ disk_id }} <small>({{ disk_size|multiply:1048576|filesizeformat }})</small></td>
      <td class="hidden-phone">{{ bkp.get_type_display }}</td>
      <td>{{ bkp.created|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td class="hidden-phone-small">{{ bkp.get_status_display }}{% if bkp.fsfreeze %}&nbsp;<i class="icon-flag"></i>{% endif %}</td>
      <td class="hidden-phone">{{ bkp.time|timeformat }}</td>
      <td class="hidden-phone">{{ bkp.size|filesizeformat }}</td>
      <td class="hidden-phone">
        <small class="vm_snapshot_note">{{ bkp.note|wordwrap:44 }}</small>
        <a href="#" class="button mini icon-active no-ajax vm_snapshot_note" title="{% trans "Update backup information" %}" data-toggle="tooltip" data-placement="bottom"> <i class="icon-pencil"></i> {% trans "Edit" %}</a>
      </td>
    </tr>
    {% endwith %}{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="10">
        <div>
          <span class="pull-right">
            {% trans "Total" %}: <span id="total">{{ backups_count }}</span>&nbsp;&nbsp;&nbsp;
            {% trans "Size" %}: {{ backups_size|filesizeformat }}&nbsp;
          </span>
        </div>
        {% if backups and pager.paginator.num_pages > 1 %}
        <div class="paginator-sink dataTables_paginate center">
          {% paginator %}
        </div>
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>
