{% extends load_base %}
{% load i18n %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    NODE_BACKUP_DEFINE = new NodeBackupDefine();
  });
</script>
{% endblock %}

{% block base_nav %}{% include "gui/node/navigation.html" with li_backup_definitions="active" %}{% endblock %}

{% block base_content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="tab-header">
        <i class="icon-time"></i> {{ node.alias }} &rsaquo; {% trans "backup definitions" %}
      </div>
      <div>
        {% include "gui/node/backup_define_list.html" %}
      </div>
    </div> <!-- end span12 -->
  </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->
{% endblock %}
