{% extends load_base %}
{% load i18n %}
{% load gui_utils %}

{% block javascript %}
{% include "gui/node/monitoring_js.html" with graphs=graphs %}
{% endblock %}

{% block base_nav %}
{% include "gui/node/navigation.html" with li_monitoring="active" %}
{% include "gui/node/monitoring_navigation.html" with mon_net="active" %}
{% endblock %}

{% block base_content %}
<div id="graph_tooltip" class="tooltip right"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>

{% with desc_bandwidth=graph_items|keyvalue:'net-bandwidth'|keyvalue:'desc' desc_packets=graph_items|keyvalue:'net-packets'|keyvalue:'desc' %}
<div class="container-fluid">
  {% for nic in node_nics %}
  <div class="row-fluid">
    <div class="span6 small" id="node__{{ node.hostname }}__net-bandwidth__nic={{ nic }}">
      <div class="tab-header">
        <i class="icon-bar-chart"></i> {{ node.hostname }} &rsaquo; {% blocktrans %}nic {{ nic }} &rsaquo; bandwidth{% endblocktrans %}
        {% include "gui/node/monitoring_graph.html" with desc=desc_bandwidth %}
    </div>
    <div class="span6 small" id="node__{{ node.hostname }}__net-packets__nic={{ nic }}">
      <div class="tab-header">
        <i class="icon-bar-chart"></i> {{ node.hostname }} &rsaquo; {% blocktrans %}nic {{ nic }} &rsaquo; packets{% endblocktrans %}

        {% include "gui/node/monitoring_graph.html" with desc=desc_packets %}
    </div>
  </div>
  {% endfor %}
</div> <!-- end container-fluid -->
{% endwith %}
{% endblock %}

