{% extends load_base %}
{% load i18n %}
{% load gui_utils %}

{% block javascript %}
{% include "gui/node/monitoring_js.html" with graphs=graphs %}
{% endblock %}

{% block base_nav %}
{% include "gui/node/navigation.html" with li_monitoring="active" %}
{% include "gui/node/monitoring_navigation.html" with mon_disk="active" %}
{% endblock %}

{% block base_content %}
<div id="graph_tooltip" class="tooltip right"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>

{% with desc_throughput=graph_items|keyvalue:'storage-throughput'|keyvalue:'desc' desc_io=graph_items|keyvalue:'storage-io'|keyvalue:'desc' desc_space=graph_items|keyvalue:'storage-space'|keyvalue:'desc' %}
<div class="container-fluid">
  {% for zpool in zpools %}
  <div class="row-fluid">
    <div class="span6 small" id="node__{{ node.hostname }}__storage-throughput__zpool={{ zpool }}">
      <div class="tab-header">
        <i class="icon-bar-chart"></i> {{ node.hostname }} &rsaquo; {% blocktrans %}zpool {{ zpool }} &rsaquo; throughput{% endblocktrans %}
        {% include "gui/node/monitoring_graph.html" with desc=desc_throughput %}
    </div>
    <div class="span6 small" id="node__{{ node.hostname }}__storage-io__zpool={{ zpool }}">
      <div class="tab-header">
        <i class="icon-bar-chart"></i> {{ node.hostname }} &rsaquo; {% blocktrans %}zpool {{ zpool }} &rsaquo; I/O{% endblocktrans %}
        {% include "gui/node/monitoring_graph.html" with desc=desc_io %}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12" id="node__{{ node.hostname }}__storage-space__zpool={{ zpool }}">
      <div class="tab-header">
        <i class="icon-bar-chart"></i> {{ node.hostname }} &rsaquo; {% blocktrans %}zpool {{ zpool }} &rsaquo; space{% endblocktrans %}
        {% include "gui/node/monitoring_graph.html" with desc=desc_space %}
    </div>
  </div>
  {% endfor%}
</div> <!-- end container-fluid -->
{% endwith %}
{% endblock %}
