      <tr>
        {% if field.field.required %}<td class="input-required"><b>{{ field.label }}:</b></td>{% else %}<td>{{ field.label }}:</td>{% endif %}
        <td class="span5 {{ tdclass }}">
          <div class="input{% if field.errors %} error wobble animated{% endif %}">
            {{ field }}{% for error in field.errors %}
            <span class="help-inline error pull-left"><i class="icon-warning-sign"></i> {{ error }}</span>
            {% empty %}{% if field.help_text %}
            <span class="help-inline note pull-left"><i class="icon-info-sign"></i> {{ field.help_text }}</span>
            {% endif %}{% endfor %}
          </div>
        </td>
      </tr>
