.chartable {
  > tbody > tr > td {
    background: #FDFDFD;
  }

  > thead > tr > td, > tfoot > tr > td {
    padding: 0;
  }

  .legend tr {
    td {
      padding-top: 3px;
      padding-bottom: 3px;
    }

    &:first-child td {
      padding-top: 4px;
      border-top: none;
    }
  }

  .graph_history_control {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;

    a.active {
      background: #46464d;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666670), color-stop(100%, #46464d));
      background-image: -webkit-linear-gradient(top, #666670, #46464d);
      background-image: -moz-linear-gradient(top, #666670, #46464d);
      background-image: -o-linear-gradient(top, #666670, #46464d);
      background-image: linear-gradient(top, #666670, #46464d);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      text-shadow: none;
      cursor: default;
      opacity: 0.90;
      filter: alpha(opacity=90);
    }
  }

  &.disabled > tbody > tr > td {
    background: #C0C0C0;
  }

  &.problem > tbody > tr > td {
    background: #FF6666;
  }

  .period-wrap {
    font-size: 10px;
    color: #545454;
    height: 16px;
    text-align: center;
  }
}

.graph {
  width: 100%;
  height: 260px;

  &.tall {
    height: 500px;
  }
}
