/********************
 * Alert severities *
 ********************/

.label-alert {
  &.severity0 { background-color: #97AAB3; }
  &.severity1 { background-color: #7499FF; }
  &.severity2 { background-color: #FFC859; }
  &.severity3 { background-color: #FFA059; }
  &.severity4 { background-color: #E97659; }
  &.severity5 { background-color: #E45959; }
}
