# Ludolph systemd service file
#
[Unit]
Description=Ludolph - Monitoring Jabber Bot
Documentation=https://github.com/erigones/Ludolph
After=network.target zabbix-server.service

[Service]
Type=simple
User=ludolph
ExecStart=/usr/bin/ludolph
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30

[Install]
WantedBy=multi-user.target
