### que
setuptools==36.0.1
six==1.10.0
psutil==5.2.2
celery==3.1.25
billiard==3.3.0.23
amqp==1.4.9
kombu==3.0.37
anyjson==0.3.3
redis==2.10.5
pytz==2017.2
librabbitmq==1.6.1
simplejson==3.11.1
frozendict==1.2
requests==2.13.0
esdc-api==2.0.1
