<div class="input{% if field.errors %} error wobble animated{% endif %}">
  <div class="control-group thinner {{ class }}">
    <label class="control-label">{{ field.label }}:</label>
    <div class="controls">
      {{ field }} {{ addon }}
      <label for="{{ field.id_for_label }}"></label>
      {% for error in field.errors %}
      <span class="help-inline error checkbox"> <i class="icon-warning-sign"></i> {{ error }}</span>
      {% empty %}
      <span class="help-inline note checkbox">{% if field.help_text %} <i class="icon-info-sign"></i> {{ field.help_text }}{% else %} &nbsp; {% endif %}</span>
      {% endfor %}
    </div>
  </div>
</div>
