{% load i18n %}
<div class="pagination">
  <span class="current"><small>{% trans "Page" %}</small></span>
  <br>
  <span class="step-links">
    {% if pager.has_previous %}
    <a href="?page={{ pager.previous_page_number }}"><i class="icon-backward"></i></a>
    {% else %}
    <i class="icon-backward idisabled"></i></span>
    {% endif %}
    <span class="current">
    {{ pager.number }} / {{ pager.paginator.num_pages }}
    </span>
    {% if pager.has_next %}
    <a href="?page={{ pager.next_page_number }}"><i class="icon-forward"></i></a>
    {% else %}
    <i class="icon-forward idisabled"></i>
    {% endif %}
  </span>
</div>
