{% spaceless %}
{% if pager.has_previous %}
<a href="?page={{ pager.previous_page_number }}" class="first"><i class="icon-backward"></i></a>
{% else %}
<a class="first ui-state-disabled"><i class="icon-backward"></i></a>
{% endif %}

<span>
  {% if dots_prev %}
  <a href="?{{ querystring }}page=1">1</a>
  <a>...</a>
  {% elif show_first %}
  <a href="?{{ querystring }}page=1">1</a>
  {% endif %}
  {% for i in show_pages %}
  {% ifequal i pager.number %}
  <a class="ui-state-disabled">{{ i }}</a>
  {% else %}
  <a href="?{{ querystring }}page={{ i }}">{{ i }}</a>
  {% endifequal %}
  {% endfor %}
  {% if dots_next %}
  <a>...</a>
  <a href="?{{ querystring }}page={{ pager.paginator.num_pages }}">{{ pager.paginator.num_pages }}</a>
  {% elif show_last %}
  <a href="?{{ querystring }}page={{ pager.paginator.num_pages }}">{{ pager.paginator.num_pages }}</a>
  {% endif %}
</span>

{% if pager.has_next %}
<a href="?{{ querystring }}page={{ pager.next_page_number }}" class="last"><i class="icon-forward"></i></a>
{% else %}
<a class="last ui-state-disabled"><i class="icon-forward"></i></a>
{% endif %}
{% endspaceless %}
