{% load i18n gui_utils %}{% if deleted %}
<a href="{{ request.path }}?{{ qs|qs_del:'deleted' }}" class="btn btn-mini active" title="{% trans "Show/Hide items with access=deleted" %}" data-toggle="tooltip" data-placement="left"><i class="icon-check"></i> {% trans "Show deleted" %}</a>
{% else %}
<a href="{{ request.path }}?{{ qs|qs_set:'deleted' }}" class="btn btn-mini" title="{% trans "Show/Hide items with access=deleted" %}" data-toggle="tooltip" data-placement="left"><i class="icon-check-empty"></i> {% trans "Show deleted" %}</a>
{% endif %}
