{% extends load_base %}
{% load i18n %}
{% load gui_utils %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    DC_DOMAINS = new DcDomainList();
  });
</script>
{% endblock %}

{% block base_content %}
{% if is_staff %}
<div id="obj_form_modal" class="black-box modal hide fade vm_modal">
  <div class="modal-head tab-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <span class="title_edit"><i class="icon-globe"></i> {% trans "Update, Delete or Detach DNS Domain" %}</span>
    <span class="title_edit_or_add_dc hide"><i class="icon-globe"></i> {% trans "Update, Delete or Attach DNS Domain" %}</span>
    <span class="title_add"><i class="icon-globe"></i> {% trans "Add new DNS Domain" %}</span>
  </div>
  <div class="modal-body separator">
    <div class="text_edit"></div>
    <div class="text_add"></div>
    <form class="form-horizontal" action="#" data-source="{{ url_form_admin }}" method="POST">
      {% include "gui/dc/domain_admin_form.html" with form=form_admin %}
    </form>
  </div>
  <div class="modal-footer">
    <div class="inner-well">
      <a class="vm_modal_no button blue no-ajax" data-dismiss="modal">{% trans "Cancel" %}</a>
      <a class="vm_modal_update button green no-ajax" data-enter="true">{% trans "Update" %}</a>
      <a class="vm_modal_delete vm_modal_delete_dc button gold no-ajax hide" data-source="{{ url_form_dc }}">{% trans "Detach Domain" %}</a>
      <a class="vm_modal_create vm_modal_create_dc button gold no-ajax hide" data-source="{{ url_form_dc }}">{% trans "Attach Domain" %}</a>
      <a class="vm_modal_delete button red no-ajax">{% trans "Delete Domain" %}</a>
      <a class="vm_modal_create button green no-ajax" data-enter="true">{% trans "Add Domain" %}</a>
    </div>
  </div>
</div>
{% endif %}

{% if is_staff %}
<div id="obj_add_dc_modal" class="black-box modal hide fade vm_modal">
  <div class="modal-head tab-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <span class="title_edit"></span>
    <span class="title_add"><i class="icon-globe"></i> {% trans "Attach DNS Domain" %}</span>
  </div>
  <div class="modal-body separator">
    <div class="text_edit"></div>
    <div class="text_add"></div>
    <form class="form-horizontal" action="#" data-source="{{ url_form_dc }}" method="POST">
      {% include "gui/dc/domain_dc_form.html" with form=form_dc %}
    </form>
  </div>
  <div class="modal-footer">
    <div class="inner-well">
      <a class="vm_modal_no button blue no-ajax" data-dismiss="modal">{% trans "Cancel" %}</a>
      <a class="vm_modal_create button gold no-ajax">{% trans "Attach Domain" %}</a>
    </div>
  </div>
</div>
{% endif %}

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span12">
      <div class="tab-header">
        <span class="options window-control pull-right">
          <i class="icon-cloud"></i> {{ request.dc.alias }}
        </span>
        <i class="icon-globe"></i> {% trans "DNS Domains" %}
      </div>
      <table class="table box table-striped table-hover table-responsive" id="etable">

        <thead>
          {% if is_staff %}
          <tr>
            <th colspan="6">
              <div class="pull-right">
                {% include "gui/dc/dc_all_toggle.html" %}
              </div>
            </th>
          </tr>
          {% endif %}
          {% if domains %}
          <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Access" %}</th>
            <th>{% trans "Owner" %}</th>
            <th class="hidden-phone">{% trans "DC bound?" %}</th>
            <th>{% trans "Records" %}</th>
            {% if all %}
            <th class="hidden-phone">{% trans "Datacenters" %}</th>
            {% else %}
            <th class="hidden-phone">{% trans "Description" %}</th>
            {% endif %}
          </tr>
          {% endif %}
        </thead>

        <tbody>
          {% for domain in domains %}
          <tr>
            <td>
              {% if is_staff  %}{% if all and domain.pk in can_add %}
              <a href="#" class="btn-link btn-icon-link no-ajax obj_edit_or_add_dc italic" title="{% trans "Attach, update or delete DNS Domain" %}" data-toggle="tooltip" data-placement="bottom" data-form='{{ domain.web_data|jsondata }}' data-prefix="adm">{{ domain.alias }}</a>
              {% else %}
              <a href="#" class="btn-link btn-icon-edit no-ajax obj_edit" title="{% trans "Detach, update or delete DNS Domain" %}" data-toggle="tooltip" data-placement="bottom" data-form='{{ domain.web_data|jsondata }}' data-prefix="adm">{{ domain.name }}</a>
              {% endif %}
              {% else %}{{ domain.alias }}{% endif %}
            </td>
            <td>{{ domain.get_access_display }}</td>
            <td class="nowrap"><span class="vm_hostname" title="{{ domain.owner }}"><i class="icon-user"></i> {{ domain.owner|truncatechars:16 }}</span></td>
            <td class="hidden-phone"><i class="icon-{{ domain.dc_bound_bool|yesno:"ok,remove" }}"></i></td>
            <td class="nowrap">{% if is_staff or can_edit and domain.dc_bound  %}<a href="{% url 'dc_domain_record_list' %}?{{ qs }}&amp;flt-domain={{ domain.name }}" class="btn-link btn-icon-edit" title="{% trans "Show/edit domain DNS records" %}" data-toggle="tooltip" data-placement="bottom">{% blocktrans count counter=domain.records %}{{ counter }} record{% plural %}{{ counter }} records{% endblocktrans %}</a>{% else %}{% trans "N/A" %}{% endif %}</td>
            {% if all %}
            <td class="hidden-phone"><small class="vm_hostname">{{ domain.dc|dcify }}</small></td>
            {% else %}
            <td class="hidden-phone"><small class="vm_snapshot_note">{{ domain.desc|wordwrap:44 }}</small></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>

        <tfoot>
          <tr>
            <td colspan="6">
              <span class="pull-right">
                {% trans "Total" %}: {{ domains|length }}&nbsp;
              </span>
              {% if is_staff %}
              <div class="vm_control">
                {% if is_staff %}
                <a href="#" class="button gray no-ajax obj_add obj_add_dc{% if not can_add %} disabled{% endif %}" title="{% trans "Associate DNS Domain with this Datacenter" %}" data-toggle="tooltip" data-placement="top" data-prefix="adm"><i class="icon-link"></i> {% trans "Attach DNS Domain" %}</a>
                {% endif %}
                <a href="#" class="button gray no-ajax obj_add obj_add_admin" title="{% trans "Create new DNS Domain" %}" data-toggle="tooltip" data-placement="top"><i class="icon-plus"></i> {% trans "Add DNS Domain" %}</a>
              </div>
              {% endif %}
            </td>
          </tr>
        </tfoot>

      </table>
    </div>

  </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->
{% endblock %}
