{% load i18n %}
{% csrf_token %}
{% for error in form.non_field_errors %}
<div class="alert alert-error"><i class="icon-warning-sign"></i> {{ error }}</div>
{% endfor %}

{% include "gui/dc/dc_form_field.html" with prefix="_adm" %}
{% include "gui/form_field_checkbox.html" with field=form.dc_bound %}
{% include "gui/form_field.html" with field=form.name %}
{% include "gui/form_field.html" with field=form.alias %}
{% include "gui/form_field.html" with field=form.owner %}
{% include "gui/form_field.html" with field=form.access %}
{% include "gui/form_field.html" with field=form.ostype %}
{% include "gui/form_field.html" with field=form.desc %}

<div class="advanced hide"></div>
