{% extends load_base %}
{% load i18n %}
{% load gui_utils %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    DC_NETWORKS = new DcNetworkList();
  });
</script>
{% endblock %}

{% block base_content %}
{% if can_edit %}
<div id="obj_form_modal" class="black-box modal hide fade vm_modal">
  <div class="modal-head tab-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    {% if is_staff %}
    <span class="title_edit"><i class="icon-retweet"></i> {% trans "Update, Delete or Detach Network" %}</span>
    <span class="title_edit_or_add_dc hide"><i class="icon-retweet"></i> {% trans "Update, Delete or Attach Network" %}</span>
    {% else %}
    <span class="title_edit"><i class="icon-retweet"></i> {% trans "Update or Delete Network" %}</span>
    <span class="title_edit_or_add_dc hide"><i class="icon-retweet"></i> {% trans "Update or Delete Network" %}</span>
    {% endif %}
    <span class="title_add"><i class="icon-retweet"></i> {% trans "Add new Network" %}</span>
  </div>
  <div class="modal-body separator">
    <div class="text_edit"></div>
    <div class="text_add"></div>
    <form class="form-horizontal" action="#" data-source="{{ url_form_admin }}" method="POST">
      {% include "gui/dc/network_admin_form.html" with form=form_admin %}
    </form>
  </div>
  <div class="modal-footer">
    <div class="inner-well">
      <span class="pull-left"><a class="vm_modal_more btn btn-small btn-inverse no-ajax">{% trans "Show advanced settings" %}</a></span>
      <a class="vm_modal_no button blue no-ajax" data-dismiss="modal">{% trans "Cancel" %}</a>
      <a class="vm_modal_update button green no-ajax" data-enter="true">{% trans "Update" %}</a>
      {% if is_staff %}
      <a class="vm_modal_delete vm_modal_delete_dc button gold no-ajax hide" data-source="{{ url_form_dc }}">{% trans "Detach Network" %}</a>
      <a class="vm_modal_create vm_modal_create_dc button gold no-ajax hide" data-source="{{ url_form_dc }}">{% trans "Attach Network" %}</a>
      {% endif %}
      <a class="vm_modal_delete button red no-ajax">{% trans "Delete Network" %}</a>
      <a class="vm_modal_create button green no-ajax" data-enter="true">{% trans "Add Network" %}</a>
    </div>
  </div>
</div>
{% endif %}

{% if is_staff %}
<div id="obj_add_dc_modal" class="black-box modal hide fade vm_modal">
  <div class="modal-head tab-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <span class="title_edit"></span>
    <span class="title_add"><i class="icon-retweet"></i> {% trans "Attach Network" %}</span>
  </div>
  <div class="modal-body separator">
    <div class="text_edit"></div>
    <div class="text_add"></div>
    <form class="form-horizontal" action="#" data-source="{{ url_form_dc }}" method="POST">
      {% include "gui/dc/network_dc_form.html" with form=form_dc %}
    </form>
  </div>
  <div class="modal-footer">
    <div class="inner-well">
      <a class="vm_modal_no button blue no-ajax" data-dismiss="modal">{% trans "Cancel" %}</a>
      <a class="vm_modal_create button gold no-ajax">{% trans "Attach Network" %}</a>
    </div>
  </div>
</div>
{% endif %}

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span12">
      <div class="tab-header">
        <span class="options window-control pull-right">
          <i class="icon-cloud"></i> {{ request.dc.alias }}
        </span>
        <i class="icon-retweet"></i> {% trans "Networks" %}
      </div>
      <table class="table box table-striped table-hover table-responsive" id="etable">

        <thead>
          {% if can_edit %}
          <tr>
            <th colspan="9">
              <div class="pull-right">
                {% include "gui/dc/dc_deleted_toggle.html" %}
                {% if is_staff %}{% include "gui/dc/dc_all_toggle.html" %}{% endif %}
              </div>
            </th>
          </tr>
          {% endif %}
          {% if networks %}
          <tr>
            <th>{% trans "Alias (name)" %}</th>
            <th>{% trans "Access" %}</th>
            <th>{% trans "Owner" %}</th>
            <th class="hidden-phone">{% trans "DC bound?" %}</th>
            <th>{% trans "Subnet" %}</th>
            <th class="hidden-phone">{% trans "Gateway" %}</th>
            <th>{% trans "VLAN" %}</th>
            <th class="hidden-phone">{% trans "Free IPs" %}</th>
            {% if all %}
            <th class="hidden-phone">{% trans "Datacenters" %}</th>
            {% else %}
            <th class="hidden-phone">{% trans "Description" %}</th>
            {% endif %}
          </tr>
          {% endif %}
        </thead>

        <tbody>
          {% for net in networks %}
          <tr>
            <td>
            {{ net.alias }} <small>({{ net.name }})</small>

                {% if is_staff or can_edit and net.dc_bound %}{% if all and net.pk in can_add %}
                    <a href="#" class="button mini no-ajax obj_edit_or_add_dc italic"
                       title="{% trans "Attach, update or delete Network" %}" data-toggle="tooltip"
                       data-placement="bottom" data-form='{{ net.web_data_admin|jsondata }}'
                       data-prefix="adm"><i class="icon-link"></i> {% trans "Attach" %}</a>
                {% else %}
                    <a href="#" class="button mini no-ajax obj_edit" title="
                            {% if is_staff %}{% trans "Detach, update or delete Network" %}{% else %}{% trans "Update or delete Network" %}{% endif %}"
                       data-toggle="tooltip" data-placement="bottom" data-form='{{ net.web_data_admin|jsondata }}'
                       data-prefix="adm"><i class="icon-pencil"></i> {% trans "Edit" %}</a>
                {% endif %}
                {% endif %}

            </td>
            <td>{{ net.get_access_display }}</td>
            <td class="nowrap"><span class="vm_hostname" title="{{ net.owner }}"><i class="icon-user"></i> {{ net.owner|truncatechars:16 }}</span></td>
            <td class="hidden-phone"><i class="icon-{{ net.dc_bound_bool|yesno:"ok,remove" }}"></i></td>
              <td class="nowrap"><a href="{% url 'dc_network_ip_list' net.name %}?{{ qs }}"
                                    class="btn-link" title="{% trans "Show/edit network IP addresses" %}"
                                    data-toggle="tooltip" data-placement="bottom">{{ net.network|cidr:net.netmask }}</a>
                  {% if net.dhcp_passthrough %}&nbsp;
                      <span title="{% trans "IP addresses for this network are managed by an external service" %}"
                            data-toggle="tooltip" data-placement="bottom"><i
                              class="icon-info-sign"></i></span>{% endif %}</td>
              <td class="hidden-phone nowrap">{{ net.gateway }}</td>
            <td class="nowrap">{{ net.vlan_id }}</td>
            <td class="hidden-phone">{{ net.ips_free }}</td>
            {% if all %}
            <td class="hidden-phone"><small class="vm_hostname">{{ net.dc.all|dcify }}</small></td>
            {% else %}
            <td class="hidden-phone"><small class="vm_snapshot_note">{{ net.desc|wordwrap:44 }}</small></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>

        <tfoot>
          <tr>
            <td colspan="9">
              <span class="pull-right">
                {% trans "Total" %}: {{ networks|length }}&nbsp;
              </span>
              {% if can_edit %}
              <div class="vm_control">
                {% if is_staff %}
                    <a href="#" class="button gray no-ajax obj_add obj_add_dc{% if not can_add %} disabled{% endif %}"
                       title="{% trans "Associate Network with this Datacenter" %}" data-toggle="tooltip"
                       data-placement="top" data-prefix="adm"><i class="icon-link"></i> {% trans "Attach Network" %}
                    </a>
                {% endif %}
                <a href="#" class="button gray no-ajax obj_add obj_add_admin" title="{% trans "Create new Network" %}" data-toggle="tooltip" data-placement="top"><i class="icon-plus"></i> {% trans "Add Network" %}</a>
              </div>
              {% endif %}
            </td>
          </tr>
        </tfoot>

      </table>
    </div>

  </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->
{% endblock %}
