@media (max-width: 768px) {
  /* line 4, ../scss/responsive-max768.scss */
  body {
    padding: 0;
  }

  /* line 8, ../scss/responsive-max768.scss */
  .notifications {
    right: 20px;
    left: 20px;
    width: auto;
  }

  /* line 14, ../scss/responsive-max768.scss */
  .modal2 {
    position: fixed;
    top: 50px;
    left: 80px;
    right: 80px;
    width: auto;
    margin: 0;
  }

  /* line 23, ../scss/responsive-max768.scss */
  .vm_hostname {
    font-size: 10px;
  }
}
@media (min-width: 481px) and (max-width: 747px) {
  /* line 29, ../scss/responsive-max768.scss */
  table.table-responsive th, table.table-responsive td {
    max-width: 250px;
  }
}
