/* line 5, ../scss/tables.scss */
table tr td .alert {
  margin-bottom: 1px;
}
/* line 9, ../scss/tables.scss */
table tr.row-alert td {
  background-color: #e5e5e5 !important;
}

/* line 15, ../scss/tables.scss */
td .nowrap, th .nowrap {
  white-space: nowrap;
}
/* line 18, ../scss/tables.scss */
td .wrap, th .wrap {
  white-space: normal;
}

/* line 27, ../scss/tables.scss */
td .button.mini {
  padding: 0px 8px;
  margin: 0;
  font-weight: normal;
}
/* line 32, ../scss/tables.scss */
td .button.mini i {
  padding-top: 0.5px;
  vertical-align: middle;
}
/* line 37, ../scss/tables.scss */
td .button.small {
  padding: 2px 10px;
  margin: -2px 0;
}
/* line 41, ../scss/tables.scss */
td .button.small i {
  padding-top: 0.5px;
  vertical-align: middle;
}
/* line 48, ../scss/tables.scss */
td.button-group .button.small {
  margin: 0;
  margin-top: 1px;
}
/* line 53, ../scss/tables.scss */
td .input-error {
  color: #c94a48;
  font-style: bold;
}
/* line 59, ../scss/tables.scss */
td .help-inline.error {
  padding-top: 0;
  margin-bottom: -8px;
}
/* line 63, ../scss/tables.scss */
td .help-inline.note {
  padding-top: 0;
  margin-bottom: -8px;
  line-height: 14px;
  color: #888888;
}
/* line 71, ../scss/tables.scss */
td .msg {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

/* line 78, ../scss/tables.scss */
.nowrap tr td {
  white-space: nowrap;
}
/* line 80, ../scss/tables.scss */
.nowrap tr td.wrap {
  white-space: normal;
}

/* line 85, ../scss/tables.scss */
table.box {
  background-color: #FAFAFA;
}
/* line 89, ../scss/tables.scss */
table.box thead, table.box tfoot {
  background: #e5e5e5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #e5e5e5));
  background-image: -moz-linear-gradient(top, #ebebeb, #e5e5e5);
  background-image: -webkit-linear-gradient(top, #ebebeb, #e5e5e5);
  background-image: linear-gradient(to bottom, #ebebeb, #e5e5e5);
  color: #898989;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  -moz-border-radius: 3px 3px 0 0 / 3px 3px 0 0;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px 3px 0 0 / 3px 3px 0 0;
}
/* line 96, ../scss/tables.scss */
table.box.table-striped tbody tr:nth-child(odd) td, table.box.table-striped tbody tr:nth-child(odd) th {
  background: #FDFDFD;
}
/* line 100, ../scss/tables.scss */
table.box.form {
  word-wrap: break-word;
  word-break: break-all;
}
/* line 107, ../scss/tables.scss */
table.box.table-striped tbody tr.info td {
  background-color: #d9edf7;
}
/* line 110, ../scss/tables.scss */
table.box.table-striped tbody tr.error td {
  background-color: #f2dede;
}
/* line 115, ../scss/tables.scss */
table.box .button {
  line-height: normal;
}
/* line 116, ../scss/tables.scss */
table.box .button i {
  font-size: 14px;
}

/*
 *  Responsive tables
 */
/* line 128, ../scss/tables.scss */
table.table-responsive th, table.table-responsive td {
  word-wrap: break-word;
  max-width: 200px;
}

/* line 133, ../scss/tables.scss */
.tab-header {
  height: auto;
  word-wrap: break-word;
  overflow: hidden;
}

/* line 139, ../scss/tables.scss */
p.table_desc {
  margin: 0;
  color: #454545;
}

/* line 144, ../scss/tables.scss */
div.dataTables_paginate {
  float: none;
  margin-bottom: 20px;
  padding-right: 10px;
}
/* line 150, ../scss/tables.scss */
div.dataTables_paginate a {
  background: #ededed;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #ffffff, #ededed);
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
  background-image: linear-gradient(to bottom, #ffffff, #ededed);
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  border: 1px solid #d4d4d4;
  padding: 4px 8px;
  line-height: 25px;
  height: 25px;
  margin-left: -1px;
}
/* line 157, ../scss/mixins.scss */
div.dataTables_paginate a.inset {
  text-shadow: rgba(255, 255, 255, 0.5) 0 -1px 1px;
}
/* line 160, ../scss/mixins.scss */
div.dataTables_paginate a.disabled {
  background: white;
  text-shadow: none;
  border: 1px solid #ededed;
  cursor: default;
}
/* line 145, ../scss/mixins.scss */
div.dataTables_paginate a.disabled:hover, div.dataTables_paginate a.disabled:active {
  background: white;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 164, ../scss/mixins.scss */
div.dataTables_paginate a:hover {
  background: #e3e3e3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #e3e3e3));
  background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
  background-image: linear-gradient(to bottom, #f7f7f7, #e3e3e3);
}
/* line 168, ../scss/mixins.scss */
div.dataTables_paginate a:active {
  background: #e8e8e8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #e8e8e8));
  background-image: -moz-linear-gradient(top, #d6d6d6, #e8e8e8);
  background-image: -webkit-linear-gradient(top, #d6d6d6, #e8e8e8);
  background-image: linear-gradient(to bottom, #d6d6d6, #e8e8e8);
}
/* line 158, ../scss/tables.scss */
div.dataTables_paginate .first {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
/* line 162, ../scss/tables.scss */
div.dataTables_paginate .last {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
/* line 166, ../scss/tables.scss */
div.dataTables_paginate .ui-state-disabled, div.dataTables_paginate .ui-state-disabled:hover {
  background: #ddd;
  cursor: default;
  text-shadow: none;
}

/* line 174, ../scss/tables.scss */
.inner-well .table th, .inner-well .table td {
  border: none;
}

/* line 179, ../scss/tables.scss */
#debug {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.9;
  width: 100%;
  padding: 0 5px;
}

/* line 189, ../scss/tables.scss */
table#debug-query-table tr td {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 194, ../scss/tables.scss */
table#debug-query-table code {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 9px;
  line-height: 8px;
}
