/* line 1, ../scss/typography.scss */
p {
  line-height: 20px;
}

/* line 5, ../scss/typography.scss */
.italic {
  font-style: italic;
}

/* line 9, ../scss/typography.scss */
.icontext {
  white-space: nowrap;
}

/* line 15, ../scss/typography.scss */
a.btn-icon:after, a.btn-icon-edit:after, a.btn-icon-link:after, a.btn-icon-external-link:after, a.btn-icon-eye-open:after, a.btn-icon-eye-close:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  padding-left: 2px;
  color: #000 !important;
}
/* line 25, ../scss/typography.scss */
a.btn-icon.icon-active:after, a.icon-active.btn-icon-edit:after, a.icon-active.btn-icon-link:after, a.icon-active.btn-icon-external-link:after, a.icon-active.btn-icon-eye-open:after, a.icon-active.btn-icon-eye-close:after {
  color: #0088cc !important;
}
/* line 28, ../scss/typography.scss */
a.btn-icon.icon-active:after:hover, a.icon-active.btn-icon-edit:after:hover, a.icon-active.btn-icon-link:after:hover, a.icon-active.btn-icon-external-link:after:hover, a.icon-active.btn-icon-eye-open:after:hover, a.icon-active.btn-icon-eye-close:after:hover {
  color: #005580 !important;
}
/* line 33, ../scss/typography.scss */
a.btn-icon.icon-active.disabled:after, a.icon-active.disabled.btn-icon-edit:after, a.icon-active.disabled.btn-icon-link:after, a.icon-active.disabled.btn-icon-external-link:after, a.icon-active.disabled.btn-icon-eye-open:after, a.icon-active.disabled.btn-icon-eye-close:after, a.btn-icon.icon-active.disabled:after:hover, a.icon-active.disabled.btn-icon-edit:after:hover, a.icon-active.disabled.btn-icon-link:after:hover, a.icon-active.disabled.btn-icon-external-link:after:hover, a.icon-active.disabled.btn-icon-eye-open:after:hover, a.icon-active.disabled.btn-icon-eye-close:after:hover {
  color: #333 !important;
}
/* line 38, ../scss/typography.scss */
a.btn-icon.field-icon, a.field-icon.btn-icon-edit:after, a.field-icon.btn-icon-link:after, a.field-icon.btn-icon-external-link:after, a.field-icon.btn-icon-eye-open:after, a.field-icon.btn-icon-eye-close:after {
  font-size: 17px;
  color: #ccc !important;
  line-height: 17px;
  vertical-align: middle;
  margin-left: -18px;
  margin-right: 9px;
}
/* line 46, ../scss/typography.scss */
a.btn-icon.field-icon:hover, a.field-icon.btn-icon-edit:hover:after, a.field-icon.btn-icon-link:hover:after, a.field-icon.btn-icon-external-link:hover:after, a.field-icon.btn-icon-eye-open:hover:after, a.field-icon.btn-icon-eye-close:hover:after {
  color: #81D8F1 !important;
}

/* line 52, ../scss/typography.scss */
a.btn-icon-edit:after {
  content: "\f044";
}

/* line 57, ../scss/typography.scss */
a.btn-icon-link:after {
  content: "\f0c1";
}

/* line 61, ../scss/typography.scss */
a.btn-icon-external-link:after {
  content: "\f08e";
}

/* line 66, ../scss/typography.scss */
a.btn-icon-eye-open:after {
  content: "\f06e";
}

/* line 71, ../scss/typography.scss */
a.btn-icon-eye-close:after {
  content: "\f070";
}

/* line 76, ../scss/typography.scss */
a.btn-text {
  color: #333333;
}
