{% extends "base_no_auth.html" %}
{% load i18n %}

{% block head %}
<script type="text/javascript">
$(document).ready(function(){
   $("form#submitForm").submit();
});
</script>
{% endblock %}

{% block login_content %}{% if validlink %}
<form class="form-horizontal" id="submitForm" action="" method="POST">
  {% csrf_token %}
  <div class="no-auth-message black-box inner-well">
    <h4>{% trans "Password reset" %}</h4>
    <p>{% trans "Your new password will be send as a text message (SMS) to your phone number." %}</p>
  </div>
  <button type="submit" class="no-auth-button">{% trans "Reset my password" %}</button>
</form>
{% else %}
<div class="no-auth-message black-box inner-well">
  <p>{% trans "The password reset link was invalid, possibly because it has already been used."%} <a href="{% url 'forgot' %}" class="btn-link">{% trans "Please request a new password reset." %}</a></p>
</div>
{% endif %}{% endblock %}

{% block nav_accounts_forgot %}{% endblock %}
