<div id="debug">
  <p>
    {{ DEBUG.sql_queries|length }} Quer{{ DEBUG.sql_queries|pluralize:"y,ies" }}
    {% ifnotequal DEBUG.sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debug-query-table').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debug-query-table" style="display: none;" class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th>#</th>
      <th>SQL</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in DEBUG.sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td style="background-color: #f7f7f9;"><code>{{ query.sql|escape }}</code></td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
