# Danube Cloud Daemon systemd service file
#
# INSTALL:
#   - copy erigonesd.service into /etc/systemd/system/ 
#   - run: systemctl enable erigonesd.service && systemctl start erigonesd.service 

[Unit]
Description=Danube Cloud Mgmt Worker Daemon
Documentation=https://docs.danube.cloud
After=network.target
Requires=redis.service rabbitmq-server.service postgresql-9.5.service pgbouncer.service

[Service]
Type=simple
User=erigones
Group=erigones
Environment="DJANGO_SETTINGS_MODULE=core.settings" "PYTHONPATH={PYTHONPATH}:/opt/erigones"
WorkingDirectory=/opt/erigones/var/run
PIDFile=/opt/erigones/var/run/erigonesd.pid
ExecStart=/opt/erigones/bin/erigonesd mgmt worker --workdir=/opt/erigones/var/run --umask=002 --loglevel=INFO --logfile=/opt/erigones/var/log/mgmt.log --pidfile=/opt/erigones/var/run/erigonesd.pid -c 512 -E -P gevent -I api.tasks -n mgmt@%%h
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStopSec=300
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
