# Testing port for debugging IPSec connections
{ ulp tcp rport 111 } ipsec {encr_algs aes encr_auth_algs sha512 sa shared}
{ ulp tcp lport 111 } ipsec {encr_algs aes encr_auth_algs sha512 sa shared}

# Don't use IPSec on admin network
{ laddr {{ hostvars[ansible_fqdn]['admin_ip'] }} dir both } bypass {}

{% for node in all_nodes %}
{% if hostvars[node]['dc_name'] != my_datacenter %}
# {{ ansible_fqdn }}
{ ulp udp laddr {{ external_ip }} raddr {{ hostvars[node]['ansible_ssh_host'] }} } ipsec {encr_algs aes encr_auth_algs sha512 sa shared }
{% endif %}
{% endfor %}

