{% load i18n %}
{% load gui_utils %}
<script type="text/javascript">
  HISTORY_GRAPH_OBJECTS = {}; {# Clear object cache #}
  var VM = {
    '{{ vm.hostname }}': {
      'tasks': {} {# Always start with empty task dict, because we are not interested in older running tasks => we do not want to update the graphs for graphs requested in the past #}
    }
  };
  {% if obj_operational %}
  $(document).ready(function() {
    mon_history_init('vm', '{{ vm.hostname }}', {{ graphs|json|safe }});
  });
  {% endif %}
</script>

{% include "gui/vm/monitoring_graph_templates.html" %}
