{% extends load_base %}
{% load i18n %}
{% load gui_utils %}

{% block javascript %}
{% include "gui/vm/monitoring_js.html" with graphs=graphs %}
{% endblock %}

{% block base_nav %}
{% include "gui/vm/navigation.html" with li_monitoring="active" %}
{% include "gui/vm/monitoring_navigation.html" with mon_cpu="active" %}
{% endblock %}

{% block base_content %}
<div id="graph_tooltip" class="tooltip right"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="vm_history_cpu-usage_{{ vm.hostname }}">
      <div class="tab-header">
        <i class="icon-bar-chart"></i> {{ vm.alias }} &rsaquo; {% trans "CPU usage" %}
        {% include "gui/vm/monitoring_graph.html" with desc=graph_items|keyvalue:'cpu-usage'|keyvalue:'desc' %}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12" id="vm_history_cpu-waittime_{{ vm.hostname }}">
      <div class="tab-header">
        <i class="icon-bar-chart"></i> {{ vm.alias }} &rsaquo; {% trans "CPU wait time" %}
        {% include "gui/vm/monitoring_graph.html" with desc=graph_items|keyvalue:'cpu-waittime'|keyvalue:'desc' %}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12" id="vm_history_cpu-load_{{ vm.hostname }}">
      <div class="tab-header">
        <i class="icon-bar-chart"></i> {{ vm.alias }} &rsaquo; {% trans "CPU load" %}
        {% include "gui/vm/monitoring_graph.html" with desc=graph_items|keyvalue:'cpu-load'|keyvalue:'desc' %}
    </div>
  </div>
</div> <!-- end container-fluid -->
{% endblock %}
