{% load i18n %}
{% csrf_token %}
{% for error in nic_settingsform.non_field_errors %}
<div class="alert alert-error"><i class="icon-warning-sign"></i> {{ error }}</div>
{% endfor %}

{% include "gui/form_field.html" with field=nic_settingsform.nic_id %}

{% if nic_settingsform.admin %}
{% if vm.is_kvm %}{% include "gui/form_field.html" with field=nic_settingsform.model %}{% endif %}
{% include "gui/form_field.html" with field=nic_settingsform.net %}
{% include "gui/form_field.html" with field=nic_settingsform.ip %}
{% if dc_settings.DNS_ENABLED %}
{% include "gui/form_field_checkbox.html" with field=nic_settingsform.dns class="thin" %}
{% endif %}
<div class="advanced hide">
{% include "gui/form_field.html" with field=nic_settingsform.mac %}
{% include "gui/form_field_checkbox.html" with field=nic_settingsform.primary %}
{% if dc_settings.MON_ZABBIX_ENABLED %}
{% include "gui/form_field_checkbox.html" with field=nic_settingsform.monitoring %}
{% endif %}
{# {% include "gui/form_field.html" with field=nic_settingsform.allowed_ips %} #}
{# {% include "gui/form_field.html" with field=nic_settingsform.blocked_outgoing_ports %} #}
{% include "gui/form_field_checkbox.html" with field=nic_settingsform.allow_dhcp_spoofing %}
{% include "gui/form_field_checkbox.html" with field=nic_settingsform.allow_ip_spoofing %}
{% include "gui/form_field_checkbox.html" with field=nic_settingsform.allow_mac_spoofing %}
{% include "gui/form_field_checkbox.html" with field=nic_settingsform.allow_restricted_traffic %}
</div>
{% else %}
{% if vm.is_kvm %}{% include "gui/form_field.html" with field=nic_settingsform.model class="thin" %}{% endif %}
<div class="advanced hide"></div>
{% endif %}
