{% extends load_base %}
{% load i18n %}
{% load gui_utils %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function () {
      alert_init('{% url 'retrieve_alert_list' %}');
    });
  </script>
{% endblock %}

{% block base_content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="tab-header">
        <span class="options window-control pull-right">
          <i class="icon-cloud"></i> {{ request.dc.alias }}
        </span>
        <i class="icon-tasks"></i> {% trans "Alert list" %}
      </div>
      <div id="alert-list-table">
        {% include "gui/mon/alert_table.html" %}
      </div>
    </div>
  </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->

{% endblock %}
