{% load i18n tz gui_utils %}
<table class="box table table-striped table-condensed table-responsive" id="tasklog-table">
  <thead>
  {% if alerts %}
    <tr class="sortable" data-order_by="{{ order_by.0 }}">
      <th data-field="time">{% trans "Last change" %}</th>
      <th>{% trans "Severity" %}</th>
      <th>{% trans "Hostname" %}</th>
      <th>{% trans "Description" %}</th>
      <th>{% trans "Ack" %}</th>
      <th>{% trans "Events" %}</th>
    </tr>
  {% endif %}
  </thead>

  <tbody id="tasklog" class="nowrap">
  {% for alert in alerts %}
    <tr class="{{ alert.eventid }}" data-task_id="{{ alert.objectid }}">
      <td><i class="icon-time"></i> <span>{{ alert.last_change|dttimestamp|date:"H:i:s" }}<br>{{ alert.last_change|dttimestamp|date:"SHORT_DATE_FORMAT" }}</span></td>
      <td><strong>{{ alert.priority|mon_severity|upper }}</strong><br> <small class="hidden-phone tiny"><i class="icon-time"></i> {{ alert.last_change|mon_get_age }}</small></td>
      <td><i class="icon-vm"></i> {{ alert.hostname }}</td>
      <td>{{ alert.desc }}{% if alert.comments %} <span title="{{ alert.comments }}" data-toggle="tooltip" data-placement="right"><i class="icon-info-sign"></i></span>{% endif %}</td>
      <td><i class="icon-{{ alert.acknowledged|yesno:"ok,remove" }}"></i></td>
      <td class="log-detail wrap">
        {% if alert.events %}{% for event in alert.events %}
            <small class="hidden-phone tiny">
              <i class="icon-time"></i> {{ event.clock|dttimestamp|date:"H:i:s"  }} - {{ event.status }} - {% trans "Ack" %}:
              {% if event.acknowledges %}<span title="{% for ack in event.acknowledges %}{{ ack.user }}: {{ ack.message }}
{% endfor %}" data-toggle="tooltip" data-placement="top">{% endif %}
              <i class="icon-{{ event.acknowledged|yesno:"ok,remove" }}"></i>{% if event.acknowledges %}</span>{% endif %}
            </small><br />
        {% endfor %}{% endif %}
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="7"><p class="msg">{% trans "No alerts found." %}</p></td>
    </tr>
  {% endfor %}
  </tbody>

  <tfoot>
  {% if alerts %}
    <tr>
      <td colspan="7">
        <div class="paginator dataTables_paginate center">
          {% if paginator %}{% paginator %}{% endif %}
        </div>
      </td>
    </tr>
  {% endif %}
  </tfoot>
</table>
